extends layout
block content
    #user
    div.container
        div(class="page-header text-center")
            h1
                span(class="fa fa-anchor") Profiles
            a(href="/logout" class="btn btn-default btn-sm") Logout
        div(class="row")
            div(class="col-md-6 col-xs-6")
                div(class="well")
                    h3
                        span(class="fa fa-user") Local
                    
                    if(user.local.email)
                        p
                            strong id : #{user._id}
                            br
                            strong email : #{user.local.email}
                            br
                            strong pwd : #{user.local.pwd}
                    else
                        a(href="/connect/local").btn.btn-default 
            div.col-md-6.col-xs-6
                div.well
                    h3.text-danger
                        span.fa.fa-google-plus | Google+
                    
                    if(user.google.token)
                        p
                            strong id
                                |:#{user.google.id}
                            br
                            strong token
                                |:#{user.google.token}
                            br
                            strong email
                                |:#{user.google.email}
                            br
                            strong name
                                |:#{user.google.name}
                    else
                        a.btn.btn-danger(href="/connect/google") Connect Google+
            div.col-md-6.col-xs-6
                div.well
                    h3
                        span.fa.fa-github Github
                    
                    if(user.github.token)
                        p
                            strong id: #{user.github.id}
                            br
                            strong token: #{user.github.token}
                            br
                            strong email: #{user.github.email}
                            br
                            strong name: #{user.github.nickName}
                    else
                        a.btn.btn-primary(href="/connect/github") Connect Github